.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: var(--main-color);
}

.some-text {
    color: white;
}

.white{
    background: #e3e2e2;
}
.white-text{
    color: #212121;
}
