.wrapper{
    position: relative;
    width: 600px;
    background-color: var(--main-color);
    padding: 50px 40px 20px 40px;
    border: 10px double #0c0c0c;
    border-radius: 20px;
}
.container{
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 30px;
}
.inputRange{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.inputRange::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.inputRange::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.inputRange::-ms-track{
    appearance: none;
    height: 5px;
}
.inputRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #0c0c0c;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
.inputRange::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0c0c0c;
    pointer-events: auto;
}
.inputRange::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0c0c0c;
    pointer-events: auto;
}
.inputRange:active::-webkit-slider-thumb{
    background-color: #7e7f80;
    border: 3px solid #0c0c0c;
}
.values{
    background-color: #0c0c0c;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #0c0c0c;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}
