
.hwTitle{
    margin-left: 30px;
}
.wrapper {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    width: 450px;
    min-height: 100px;
    max-height: 500px;
    border: 1px solid black;
    background-color: #06c9fa;
    position: relative;
    padding: 10px 0;

}

.wrapper img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    box-shadow: 2px 2px 5px #282c34;
}

.messageWrapper {
    width: 350px;
    margin-left: 90px;
    border-radius: 25px 25px 25px 0;
    background-color: #fff;

    position: relative;
}

.messageWrapper::before {
    position: absolute;
    content: "";
    left: -45px;
    bottom: 0px;
    width: 45px;
    height: 20px;
    background-color: transparent;
    border-bottom-right-radius: 35px;
    box-shadow: 15px 0 0 0 #fff;
}

.message {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.message .name {
    color: #282c34;

}

.message .text {
    min-width: 150px;
    max-width: 300px;
    color: rgb(10, 10, 10);
    word-wrap: break-word;
}

.message .date {
    color: #06c9fa;
    /* position: absolute;*/
    right: 10px;
    bottom: 1px;
}


/*
.corWrapper{
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.corWrapper img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.corContent{
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(3, 61, 250, 0.3);
}
.angle{
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(3, 61, 250, 0.3) 0);
}
.corName{
    font-size: 20px;
    font-weight: bold;
    color: #bbffbb;
}
.corText{
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}
.corDate{
    display: flex;
    justify-content: flex-end;
    color: #bbffbb;
}*/
