.superInput {
    width: 60px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: none;
    padding: 10px 25px;
    outline: none;
    font-size: 1.1em;
    color: #555;
    background: linear-gradient( #a3aaba, #dbdae1, #dbdae1,#dbdae1,#a3aaba);

}
.superInput:hover{
    width: 250px;
}
.superInput:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #fff;
    z-index: 1;
}

.errorInput {
    border: 3px solid #4EA5D9;
    /*background:  #f63b3b;*/
    color: black;
}

.error {
    border: 4px solid #ea2020;
    color: white;
    width: 200px;
    background-color: #a3aaba;
    font-size: 26px;
    margin: 0 10px;
}