.someClass {

}

.error {
    border: 1px solid red;
    color: red;
    width: 200px;
    background-color: white;
    font-size: 26px;
}
.wrapper{
    display: flex;
    margin-left: 30px;
}

.wrapper button {
    border-radius: 10px;
    font-weight: bolder;
    background-color: #748f3c;
    box-shadow: 2px 2px 2px dimgray;
    margin-right: 10px;
}